[[extend 'layout.html']]
[[block page_head]]
<title>Recipe and Me</title>
<style>
  /* Tile hover effect */
  /* https://nestedsoftware.com/2019/11/05/card-with-expand-on-hover-effect-2ccm.200941.html */
  .tile.is-child {
    transition: all .3s ease;
  }
  .tile.is-child:hover {
    transform: translate3D(0,-1px,0) scale(1.02);
    box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
    transition: all .2s ease;
    cursor: pointer;
  }

  /* Switch column order on mobile (for modal sidebar and image) */
  /* https://stackoverflow.com/questions/49953907/switch-columns-in-bulma-css */
  @media (max-width: 768px) { 
    .columns.is-mobile-reversed {
      display: flex;
      flex-direction: column-reverse;
    }
  }
</style>
[[end]]

<div class="section pt-4" id="vue-target" v-cloak>

  <!-- Header area with title and search bar -->
  <header class="level">
    <h1 class="title">Discover Recipes</h1>
    <div class="field has-addons">

      <!-- Search bar -->
      <div class="control has-icons-left">
        <input type="search" class="input" placeholder="Search..." v-model="query" @input="search"/>
        <span class="icon is-small is-left">
          <i class="fa fa-fw fa-search"></i>
        </span>
      </div>

      <!-- Tag filter dropdown -->
      <div class="dropdown control is-right is-hoverable">
        <div class="dropdown-trigger">
          <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
            <span class="icon is-small is-left">
              <i class="fa fa-fw fa-filter"></i>
            </span>
            <span class="is-hidden-mobile">Filter by&nbsp;</span>
            <span>Tags</span>
            <span class="icon is-small">
            <i class="fa fa-fw fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content">
            <div v-for="tag in tags" class="dropdown-item has-text-right is-clickable" @click="toggle_search_tag(tag._idx)" :class="{ 'has-background-primary': tag.is_active }">
              <span class="tag is-rounded is-medium is-capitalized is-primary is-light">{{tag.name}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Area for tags which are currently filtering the search -->   
  <div v-if="query_tags.length > 0">
    <span class="tags" >
      <span class="tag is-rounded is-medium is-capitalized has-background-white">Filtering by Tags: </span>
      <span class="tag is-rounded is-medium is-capitalized is-primary is-light" v-for="tag in query_tags">
        {{tag.name}}
        <button class="delete is-small" @click="remove_search_tag(tag._idx ? tag._idx : 0)"></button>
      </span>
    </span>
  </div>
    
  <!-- Main content area: recipe list for browsing and search results -->
  <div class="tile is-ancestor is-flex-wrap-wrap">
    <div v-for="recipe in recipes" class="tile is-parent is-4">

      <!-- Recipe card -->
      <div class="tile is-child card" @click="set_modal(true , recipe._idx)">
        <header class="card-header">
          <p class="card-header-title is-centered">
            {{recipe['name']}}
          </p>
        </header>
        <div class="card-image">
          <figure class="image is-4by3">
            <img :src="recipe['image_url']" alt="Recipe image">
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            <div class="tags">
              <span class="tag is-rounded is-medium is-capitalized" v-for="ingredient in recipe['ingredients_rows']">
                {{ingredient['name']}}
              </span>
              <span class="tag is-rounded is-medium is-capitalized is-primary is-light" v-for="tag in recipe['tag_rows']">
                {{tag}}
              </span>
            </div>
          </div>
        </div> 
      </div>

      <!-- Recipe modal pop-up with more details -->
      <div v-if="recipes[recipe._idx].modal" class="modal is-active">
        <div class="modal-background" @click.stop="set_modal(false, recipe._idx)"></div>
          <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title">{{recipe['name']}}</p>
            </header>
            <section class="modal-card-body">
              <div class="columns is-mobile-reversed">

                <!-- Left sidebar: ingredients, tags, cook time-->
                <div class="column is-one-third ">
                  
                  <!-- Ingredients detail view -->
                  <p class="is-size-5">Ingredients</p>
                  <div>
                    <div class="notification p-1 m-1" v-for="ingredient in recipe['ingredients_rows']">
                      <span class="is-capitalized">{{ingredient['name']}}</span>
                      <br>
                      <span class="is-size-7">{{ingredient['quantity']}}</span>
                    </div>
                  </div>

                  <!-- Tags detail view -->
                  <p class="is-size-5">Tags</p>
                  <div class="tags">
                    <span class="tag is-rounded is-medium is-capitalized is-primary is-light" v-for="tag in recipe['tag_rows']">
                      {{tag}}
                      <button class="delete is-small" @click="delete_tag(recipe._idx, tag)"></button>
                    </span>
                    <div class="form">
                      <div class="field has-addons">
                        <div class="control">
                          <input type="text" class="input is-primary is-small is-rounded" v-model="recipe.temp_tag" list="search_tags_results" placeholder="Add a new tag ..."></input>
                        </div>
                        <div class="control">
                          <button class="button is-primary is-small is-rounded" @click="add_tag(recipe._idx)">
                            <span class="icon is-small"><i class="fa fa-fw fa-plus"></i></span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <p class="is-size-5">Prep Time</p>
                  <p>
                    <span class="icon"><i class="fa fa-fw fa-clock-o"></i></span>
                    {{recipe['cook_time']}} min
                  </p>
                </div>

                <!-- Right side: star ratings and image -->
                <div class="column">

                  <!-- Star area -->
                  <div @mouseout="stars_out(recipe._idx)" class="has-text-right">

                    <!-- The average star rating of all users for this recipe -->
                    <span v-if="(recipe.raters.length < 1)">
                      No ratings yet.
                    </span>
                    <span v-else>
                      [[if globals().get('user'):]]Average r[[else:]]R[[pass]]ating:
                      <span class="is-size-7">({{recipe.raters.length}} user{{recipe.raters.length != 1 ? "s" : ""}})</span> 
                      <span v-for="star_idx in [1, 2, 3, 4, 5]">
                        <i v-if="star_idx <= recipe.total_rating / recipe.raters.length" class="fa fa-star"></i>
                        <i v-if="star_idx > recipe.total_rating / recipe.raters.length" class="fa fa-star-o"></i>
                      </span>
                    </span>
                    <br />

                    [[if globals().get('user'):]]
                    <!-- The individual star rating of the current user for this recipe -->
                    <span>
                      Your rating:
                      <span @mouseover="stars_over(recipe._idx, star_idx)"
                          @click="set_stars(recipe._idx, star_idx)"
                          v-for="star_idx in [1, 2, 3, 4, 5]">
                        <i v-if="star_idx <= recipe.num_stars_display" class="fa fa-star"></i>
                        <i v-if="star_idx > recipe.num_stars_display" class="fa fa-star-o"></i>
                      </span>
                    </span>
                    <br />
                    [[pass]]
                  </div>

                  <p class="image is-4by3">
                    <img :src="recipe['image_url']" alt="Recipe image">
                  </p>

                  <p class="is-size-5">Preparation Steps</p>
                  <p>{{recipe['steps']}}</p>
                </div>
              </div>
            </section>

            <!-- This footer can be added in if we implement saving recipes or viewing other users' profiles -->
            <!-- <footer class="modal-card-foot">
              <button class="button">Save Recipe for Later</button>
              <button class="button">View Creator's Profile</button>  
            </footer> -->
          </div>
          <button class="modal-close is-large"  aria-label="close" @click.stop="set_modal(false, recipe._idx)"></button>
        </div>
      </div>
    </div>
  <!-- Autocomplete datalist-->
  <datalist id="search_tags_results">
    <option v-for="tag in tags" :value="tag.name">{{tag.name}}</option>
  </datalist>
</div>

<!-- Loads the index-specific js for Vue -->
[[block page_scripts]]
<script>
  let current_user = "[[=XML(current_user)]]";
  let search_url = "[[=XML(search_url)]]";
  let load_shared_recipes_url = "[[=XML(load_shared_recipes_url)]]";
  let update_rating_url = "[[=URL('update_rating', signer=url_signer)]]";
  let set_recipe_tag_url = "[[=URL('set_recipe_tag', signer=url_signer)]]";
  let delete_recipe_tag_url = "[[=URL('delete_recipe_tag', signer=url_signer)]]";
</script>
<script src="js/index.js"></script>
[[end]]