[[extend 'layout.html']]

<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Recipe and Me</title>
</head>

<div class="section mx-6">
   <h1 class="title">Recipe and Me — Discover</h1>
   
   <div class="container">
      <div class="tile is-ancestor is-flex-wrap-wrap">
         [[for row in rows:]]
         <div class="tile is-parent is-4">
            <div class="tile is-child card">
               <header class="card-header">
                  <p class="card-header-title is-centered">
                     [[=row['name'] ]]
                  </p>
               </header>
               <div class="card-image">
               <figure class="image is-4by3">
                  <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
               </figure>
               </div>
               <div class="card-content">
                  <div class="content is-flex-wrap-nowrap">
                     [[for ingredient in row['ingredients_rows']: ]]
                     <span class="tag is-light is-rounded">[[=ingredient]]</span>
                     [[pass]]
                  </div>
               </div>
            </div>
         </div>
         [[pass]]
      </div>

      <table class="table is-striped is-fullwidth has-text-left">
         <tr>
            <th>Recipe Name</th>
            <th>Steps</th>
            <th>Cook Time</th>
            <th>Ingredients</th>
            <th>Tags</th>
         </tr>
         [[for row in rows:]]
         <tr>
            <td>[[=row['name'] ]]</td>
            <td>[[=row['steps'] ]]</td>
            <td>[[=row['cook_time'] ]]</td>
            <td>[[=row['ingredients'] ]]</td>
            <td>[[=row['tags'] ]]</td>
         </tr>
         [[pass]]
      </table>

   </div>
</div>

</html>