[[extend 'layout.html']]
[[block page_head]]
<title>Recipe and Me</title>
<style>
   [v-cloak] {
         display: none;
   }

   /* tile hover effect */
   /* https://nestedsoftware.com/2019/11/05/card-with-expand-on-hover-effect-2ccm.200941.html */
   .tile.is-child {
      transition: all .3s ease;
   }
   .tile.is-child:hover {
      transform: translate3D(0,-1px,0) scale(1.02);
      box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
      transition: all .2s ease;
      cursor: pointer;
   }
</style>
[[end]]

<div class="section mx-6" id="vue-target" v-cloak>
   <div class="container">
      <div class="level">
         <h1 class="title">Recipe and Me — Discover</h1>
         <div class="field has-addons">
            <p class="control has-icons-left">
               <input type="search" class="input" placeholder="Search..." v-model="query" @keyup="search"/>
               <span class="icon is-small is-left">
                  <i class="fa fa-fw fa-search"></i>
               </span>
            </p>
            <div class="dropdown control is-right is-hoverable">
               <div class="dropdown-trigger">
                  <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                     <span>Filter by Tags</span>
                     <span class="icon is-small">
                     <i class="fa fa-fw fa-angle-down" aria-hidden="true"></i>
                     </span>
                  </button>
               </div>
               <div class="dropdown-menu" id="dropdown-menu" role="menu">
                  <div class="dropdown-content">
                     <div v-for="tag in tags" class="dropdown-item has-text-right is-clickable" @click="toggle_search_tag(tag._idx)" v-bind:class="{ 'has-background-primary': tag.is_active }">
                        <span class="tag is-rounded is-medium is-capitalized is-primary is-light">{{tag.name}}</span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div v-if="query_tags.length > 0">
         
         <span class="tags" >
            <span class="tag is-rounded is-medium is-capitalized has-background-white">Filtering by Tags: </span>
            <span class="tag is-rounded is-medium is-capitalized is-primary is-light" v-for="tag in query_tags">
               {{tag.name}}
               <button class="delete is-small" @click="remove_search_tag(tag._idx ? tag._idx : 0)"></button>
            </span>
         </span>
      </div>
      

      <div class="tile is-ancestor is-flex-wrap-wrap">
         <div v-for="row in rows" class="tile is-parent is-4">
            <div class="tile is-child card" @click="set_modal(true , row._idx)">
               <header class="card-header">
                  <p class="card-header-title is-centered">
                     {{row['name']}}
                  </p>
               </header>
               <div class="card-image">
               <figure class="image is-4by3">
                  <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
               </figure>
               </div>
               <div class="card-content">
                  <div class="content">
                     <div class="tags">
                        <span class="tag is-rounded is-medium is-capitalized" v-for="ingredient in row['ingredients_rows']">
                           {{ingredient['name']}}
                        </span>
                        <span class="tag is-rounded is-medium is-capitalized is-primary is-light" v-for="tag in row['tag_rows']">
                           {{tag}}
                        </span>
                     </div>
                  </div>
               </div> 
            </div>
            <div v-if="modals[row._idx]" class="modal is-active">
               <div class="modal-background" @click.stop="set_modal(false, row._idx)"></div>
                  <div class="modal-card">
                     <header class="modal-card-head">
                        <p class="modal-card-title">{{row['name']}}</p>
                     </header>
                     <section class="modal-card-body">
                        <div class="columns">
                           <div class="column is-one-third">
                              <p class="is-size-5">Ingredients</p>
                              <div>
                                 <div class="notification p-1 m-1" v-for="ingredient in row['ingredients_rows']">
                                    <span class="is-capitalized">{{ingredient['name']}}</span>
                                    <br>
                                    <span class="is-size-7">{{ingredient['quantity']}}</span>
                                 </div>
                              </div>
                              <p class="is-size-5">Tags</p>
                              <div class="tags">
                                 <span class="tag is-rounded is-medium is-capitalized is-primary is-light" v-for="tag in row['tag_rows']">
                                    {{tag}}
                                 </span>
                              </div>
                              <p class="is-size-5">Cook time</p>
                              <p>
                                 <span class="icon"><i class="fa fa-fw fa-clock-o"></i></span>
                                 
                                 {{row['cook_time']}} min
                              </p>
                           </div>
                           <div class="column">
                              <p class="image is-4by3">
                                 <img src="https://bulma.io/images/placeholders/1280x960.png" alt="">
                              </p>
                           </div>
                        </div>
                        
                        <p class="is-size-5">Preparation Steps</p>
                        <p>{{row['steps']}}</p>
                     </section>
                     <footer class="modal-card-foot">
                        <button class="button">Save Recipe for Later</button>
                        <button class="button">View Creator's Profile</button>  
                     </footer>
                  </div>
                  <button class="modal-close is-large"  aria-label="close" @click.stop="set_modal(false, row._idx)"></button>
            </div>
         </div>
      </div>
   </div>
</div>
[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let search_url = "[[=XML(search_url)]]";
  let load_shared_recipes_url = "[[=XML(load_shared_recipes_url)]]"
</script>
<script src="js/index.js"></script>
[[end]]