<!DOCTYPE html>
<html lang="en">

<head>
  <base href="[[=URL('static')]]/">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon"
    href="data:image/x-icon;base64,AAABAAEAAQEAAAEAIAAwAAAAFgAAACgAAAABAAAAAgAAAAEAIAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAPAAAAAA==" />
  <link rel="stylesheet" href="css/bulma.css">
  <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css">
  <style>
    .navbar {
      border-bottom: solid 1px gainsboro;
    }
  </style>
  [[block page_head]]
  <!-- individual pages can customize header here -->[[end]]
</head>

<body>

  <!-- Navigation bar -->
  <nav class="navbar is-white" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="[[=URL('')]]">
        Recipe and Me
      </a>


      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
        data-target="the-navbar-menu"
        onclick="this.classList.toggle('is-active');document.getElementById(this.dataset.target).classList.toggle('is-active');">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="the-navbar-menu" class="navbar-menu">
      <div class="navbar-start">
        
        [[block page_menu_items]]
        <!-- individual pages can add menu items here -->[[end]]
      </div>

      <div class="navbar-end">
        [[if globals().get('user'):]]
        <a class="navbar-item" href="[[=URL('profile')]]"><span class="mr-1">Profile</span><span class="is-size-7">([[=globals().get('user').get('first_name')]]
          [[=globals().get('user').get('last_name')]])</span></a>
        <a class="navbar-item" href="[[=URL('auth/logout')]]">Log out</a>
        [[else:]]
        <div class="navbar-item buttons">
          <a class="button is-success" href="[[=URL('auth/plugin/oauth2google/login', vars=dict(next=URL('')))]]">Log in</a>
        </div>
        [[pass]]
      </div>
    </div>
  </nav>

  <!-- beginning of HTML inserted by extending template -->
  [[include]]
  <!-- end of HTML inserted by extending template -->
  <footer class="footer">
    <div class="content has-text-centered is-size-7">
      <p>
        <strong>Recipe and Me</strong> by Tre Braswell, Nathan Ma, Ray Nelson, and Konstantin Sarychev.
      </p>
      <p>
        Made in April–June 2021 for the class <a href="https://learn-py4web.github.io/">Web Applications (taught by Luca de Alfaro)</a> at UC Santa Cruz.
      </p>
      <p>
        Made with <a href="https://py4web.com/">Py4Web</a>, <a href="https://vuejs.org/">Vue.js</a>, and <a href="https://bulma.io/">Bulma.</a>
      </p>
    </div>
  </footer>
</body>
<script src="js/sugar.min.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/utils.js"></script>
[[block page_scripts]]
<!-- individual pages can add scripts here -->[[end]]

</html>