[[extend 'layout.html']]

<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Profile</title>
   <h1 class="title has-text-centered"><br>[[=name]]'s Profile</h1>
</head>

<div class="section mx-6">
   <div class="tile is-ancestor">
      <div class="tile is-5 is-parent">
         <div class="tile is-child box section">
            <h1 class="subtitle">About Me</h1>
            [[=form]]
         </div>
      </div>
      <div class="tile is-parent">
         <div class="tile is-child box section">
            <h1 class="subtitle">My Recipes</h1>
            [[for row in myrecipes:]]
            <div class="box">
               name: [[=row.name]]
                <a class="button is-warning" href="[[=URL('edit_recipe', row['id'], signer=url_signer)]]">
                  <span class="icon"><i class="fa fa-fw fa-edit"></i>edit recipe</span> 
                </a>
                <a class="button is-danger" href="[[=URL('delete_recipe', row['id'], signer=url_signer)]]">
                  <span class="icon"><i class="fa fa-fw fa-trash"></i>delete recipe</span> 
                </a>
                <a class="button is-warning" href="[[=URL('edit_ingredient', row['id'], signer=url_signer)]]">
                  <span class="icon"><i class="fa fa-fw fa-edit"></i>edit ingredients</span> 
                </a>
            </div>
              
              
            [[pass]]
            <a class="button is-warning" href="[[=URL('add_recipe', signer=url_signer)]]">
               <span class="icon"><i class="fa fa-fw fa-edit"></i>add a recipe</span> 
             </a>
         </div>
      </div>
   </div>
</div>

</html>